.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list > li {
  padding: 5px 10px;
  width: 100%;
  background-color: cadetblue;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list > li > span {
  font-size: 18px;
}
.list > li:hover {
  background-color: rgba(95, 158, 160, 0.675);
}

.btn {
  padding: 8px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  background-color: blue;
  transition: all 0.2s linear;
  color: #fff;
}

.btn:hover {
  background-color: rgba(0, 0, 255, 0.46);
}
