.card {
  max-width: 500px;
  background-color: rgb(104, 5, 5);
  padding: 20px 30px;
  margin: 40px auto;
  color: #fff;
}

.blue {
  background-color: rgb(4, 4, 107);
}

.green {
  background-color: rgba(0, 128, 0, 0.544);
}

.grey {
  background-color: grey;
}
